<h2>Welcome to ShireList</h2>

<h3>Our Current Listings</h3>
<ul item = "listingslist">
<% @listings.each do |listing| %>
<li><%= listing.title %> <%= listing.description %> <%= listing.price %></li>
<% end %>
</ul>

<%= link_to "Create a new listing", new_listing_path %>
